@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

.Weather {
  font-family: "Roboto", sans-serif;
  border: 1.5px #44827c ridge;
  padding: 16px;
  border-radius: 4px;
  color: #2074c7;
  background-color: #fff;
  margin-top: 100px;
}

.Weather .btn {
  background: #142d4c;
  border: none;
  transition: all 0.2s ease-in;
}

.Weather .btn:hover {
  color: #000;
}

.Weather .form-control {
  border: 1px #44827c ridge;
}

.Weather h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 50px;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
