@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

.Weather {
  font-family: "Roboto", sans-serif;
  border: 1.5px #44827c ridge;
  padding: 18px;
  border-radius: 4px;
  color: #195796;
  background-color: #fff;
  margin-top: 100px;
}

.Weather .btn {
  background: #142d4c;
  border: none;
  transition: all 0.1s ease-in;
  letter-spacing: 1.5px;
}

.Weather .btn:hover {
  background: rgba(26, 79, 131, 0.904);
}

.Weather .form-control {
  border: 1px #44827c ridge;
}

.Weather h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 20px 0 0 0;
  line-height: 32px;
}

.Weather ul {
  margin: 10px 0 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 400;
  color: #142d4c;
  font-size: 50px;
  line-height: 50px;
}

.Weather canvas {
  margin: 15px 5px 5px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
